.loginForm {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formGroup {
  margin-bottom: 20px;
}

.label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #333;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.errorMessage {
  color: #ff0000;
  margin-top: 8px;
}

.centerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.logBtn {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #8f4e8a;
  box-shadow: 0 0 0 2px #a761ee;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.logBtn span:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #d3cd46;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.logBtn span:first-child {
  position: relative;
  z-index: 1;
}

.logBtn:hover {
  box-shadow: 0 0 0 5px #d3cd46;
  color: #8db1bd;
}

.logBtn:active {
  scale: 0.95;
}

.logBtn:hover span:last-child {
  width: 150px;
  height: 150px;
  opacity: 1;
}

.registerLink {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.registerLink a {
  color: #4caf50;
  text-decoration: none;
}

.registerLink a:hover {
  text-decoration: underline;
}
