@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

body {
  font-family: 'ABeeZee', sans-serif;
  width: 100%;
  height: 100%;
  --color: #e1e1e1;
  background-color: #f3f3f3;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 55px 55px;
}

.homeContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #9054d9;
  box-shadow: 10px 5px 5px red;
}

.homeTitle {
  font-size: 36px;
  margin-bottom: 20px;
  color: #9bdf8b;
}

.homeContent {
  font-size: 16px;
  line-height: 1.5;
  color: #a1edd3;
}

.homeIcon {
  font-size: 1.5em;
  margin-right: 5px;
  margin-left: 5px;
}

@media screen and (max-width: 600px) {
  .homeTitle {
    font-size: 20px;
  }

  .homeContent {
    font-size: 14px;
  }
}
