.filterForm {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.inpt {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}

.inpt:focus {
  background-color: #ec6ee2;
}
